[Desktop Entry]
Type=Application
Name=Backup PC to External Drive
Terminal=true
Path=/home/ridvikpal/github/scripts/backup/bash
Exec=./pc_to_ext_drive.sh
