[Desktop Entry]
Type=Application
Name=pc_to_ext_drive
Terminal=true
Path=/home/ridvikpal/github/scripts/backup/bash
Exec=bash -c "./pc_to_ext_drive.sh"
