####################
# This systemd path file executes the set-display-temperature.service at 7:00 and 19:00
####################

[Unit]
Description=Set the correct display temperature at the correct time

[Timer]
OnCalendar=*-*-* 07,19:00:00
Persistent=true

[Install]
WantedBy=timers.target
