####################
# This systemd service file executes the set_display_temperature.sh script when called
####################

[Unit]
Description=Set the correct display temperature using xsct
After=graphical-session.target
BindsTo=graphical-session.target
PartOf=graphical-session.target
Requisite=graphical-session.target
ConditionEnvironment=DISPLAY
ConditionEnvironment=XAUTHORITY

[Service]
Type=oneshot
ExecStart=/home/ridvikpal/github/linux-scripts/utilities/bash/set_display_temperature.sh

[Install]
WantedBy=graphical-session.target
