####################
# This systemd service file executes the sync_monitor_gdm.sh script when called
####################

[Unit]
Description=Sync monitor settings to GDM

[Service]
Type=oneshot
ExecStart=/home/ridvikpal/github/linux-scripts/setup/bash/sync_monitor_gdm.sh

[Install]
WantedBy=multi-user.target
