[Desktop Entry]
Type=Application
Name=Change Battery Charge Thresholds
Terminal=true
Path=/home/ridvikpal/github/linux-scripts/utilities/bash
Exec=sudo ./change_charge_threshold.sh
